body{
    width: 50%;
    margin-left: 25%;
    background-repeat: none;
}
p{
    color: blue;
    font-size: 5em;
    border: 2px solid black;
    padding: 10px;
    margin: 3em;
    width:fit-content;
}
h1{
    color: brown;

}
h2{
    color: hotpink
}
img{
    width: 100px;
    border: 2px dotted blue;
    padding: 3px;
}
#par{
    border: 2px dashed yellow;
    background-color: blue;
}
.imagen1{
    border: 10px solid gold;
}

h2, .imagen1{
    margin: 10px;
}
thead td{
    background-color: bisque;
}
ul>li{
    font-size: larger;
    border: 2px solid red;
    padding: 10px;
}
h2+img{
    background-color: green;
}
h2+img{
    border:5px solid red;
}
h2~img{
    margin: 5em;
}
li{
    padding: 10px;
}