* {
    color: white;
}
html { font-size: 62.5%; } 

body {
    background-image: url(src/bgmobil.jpg);
    background-size: contain;
    /* background-repeat:repeat-y */
}

h1 {
    font-family: 'Mr Dafoe', Times !important; 
    color: white;
    rotate: -3deg;
}
a, p, h2, h3, span {
	color: rgb(214, 214, 214);
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
}
.social {
    display: none;
}

.gallery img {
    border: 1.5vw solid;

}

#main-tit-1 {
    font-size: 185%;
}

#main-tit-2 {
    font-size: 9.6vw;
    color: red;
}

#main-tit-3 {
    font-size: 4.4vw;
}

picture img {
    width: 50%;
}

.g-title p{
    font-size: 5vw;
}

button {
    background-color: #ff0000;
}

.footer p{
    font-size: 3.8vw;
}