<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout BootStrap</title>
  <!--  <link rel="stylesheet" href="style.css"> -->
  <link rel="stylesheet" href="bs.css">
  <!-- Para el símbolo para mostrar el menú -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!--Para la fuente del H1-->>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap" rel="stylesheet">
  <!-- Para demas fuentes -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css'
    integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb' crossorigin='anonymous'>

</head>



<body>
  <div class="container-fluid">
    <div class="header row ">
      <div class="title col-10 col-lg-3 d-flex flex-wrap justify-content-sm-center offset-lg-1">
        <div class="row w-90">
          <h1 class="col">Richard Carpenter</h1>
        </div>
        <div class="row w-100">
          <p class="col offset-6 offset-lg-2">Photography</p>
        </div>
      </div>
      <div class="row col-2 pr-0 col-sm-2 col-lg-4 d-flex flex-column flex-lg-row align-items-end offset-lg-3 justify-content-between justify-content-lg-end social-ico social">
        <div class="icon  p-lg-0 text-center col-2 p-0">
          <i class="d-lg-none pr-5 fa fa-bars"></i>
        </div>
        <p class="col-1 col-lg-3 d-none d-lg-inline p-lg-0 text-muted">My Social Network</p>
        <img class="col-7 p-0 col-sm-5 col-lg-1 p-lg-0" src="src/twitter.png" alt="twitter">
        <img class="col-7 p-0 col-sm-5 col-lg-1 mx-lg-1 p-lg-0" src="src/facebook.png" alt="facebook">
        <img class="col-7 p-0 col-sm-5 col-lg-1 mx-lg-1 p-lg-0" src="src/flickr.png" alt="flickr">
      </div>
    </div>
    <div class="container-fluid d-flex justify-content-center justify-content-lg-center">
      <div class="row col-lg-12 justify-content-sm-center text-center">
        <div
          class="col-12 col-md-10 col-lg-4 d-flex flex-column p-lg-0 align-items-lg-end justify-content-lg-center text-justify">
          <div class="row">
            <div class="col col-lg-12">
              <p class="m-0 text-center text-lg-right" id="main-tit-1">SPECIALIST IN AWESOME</p>
            </div>
          </div>
          <div class="row">
            <div class="col text-lg-right">
              <p class="text-center" id="main-tit-2">PHOTOGRAPHY.</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="text-center text-lg-right" id="main-tit-3">LET ME CAPTURE YOUR MOMENTS</p>
            </div>
          </div>
        </div>
        <div class="col-lg-7 d-flex p-lg-0 justify-content-center">
          <picture class="col-9 col-lg-12 p-lg-0 d-flex justify-content-center">
            <source media="(min-width: 576px)" srcset="src/cambig.png">
            <img class="col-8 col-sm-10 col-lg-12 p-lg-0" id="cam" src="src/cam.png" alt="Camera DSLR">
          </picture>
        </div>
      </div>
    </div>
    <div class="gallery row text-center d-flex justify-content-center justify-content-sm-around ">
      <div class="g-title col-lg-1 mt-2 text-center">
        <p class="m-0"><span class="text-muted">RECENT</span><br>PHOTOS</p>
        <button class="btn px-4 btn-lg" href="#">PORTFOLIO</button>
      </div>
      <img class="col-7 col-sm-5 col-lg-2 p-0 my-2 mr-lg-2" src="src/1.jpeg" alt="">
      <img class="col-7 col-sm-5 col-lg-2 p-0 my-2 mx-lg-2" src="src/2.jpeg" alt="">
      <img class="col-7 col-sm-5 col-lg-2 p-0 my-2 mx-lg-2" src="src/3.jpeg" alt="">
      <img class="col-7 col-sm-5 col-lg-2 p-0 my-2 mx-lg-2" src="src/4.jpeg" alt="">
    </div>

  </div>
  <div class="footer container text-center">
    <p class="col text-muted">Lorem ipsum dolor, tempora minima veniam quod, necessitatibus at maiores nostrum quisquam
      odio.<span>Temporibus ut veritatis sapiente, aperiam, eveniet</span> ad accusantium omnis mollitia delectus, aut
      consequatur laborum nulla cum?</p>
  </div>
  </div>
  <script>
    $(function () {
      //Captura del evento para mostrar u ocultar
      $(".icon").click(function () {
        $(".social-ico").toggle();
      });
      $(window).resize(function () {
        var anchura = $(this).width();
        if (anchura > 576) {
          $(".social-ico").show();
        }
      });
    });
  </script>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src='https://code.jquery.com/jquery-3.2.1.slim.min.js'
    integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN'
    crossorigin='anonymous'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js'
    integrity='sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh'
    crossorigin='anonymous'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js'
    integrity='sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ'
    crossorigin='anonymous'></script>
</body>

</html>