*{
    box-sizing: border-box
}
body{
    width: 80%;
    margin: 0 auto;
}
.container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
    grid-template-rows: 100px 100px 100px 100px ;
}
.Rojo{
    background-color: red;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 5;
    grid-row-end: 2;
}
.Azul{
    background-color: blue;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: -3;
    grid-row-end: 4;
}
.Amarillo{
    background-color: yellow;
    grid-column-end: span 2;
    grid-row-end: span 3;
}
