body {
    background-color: #0b3442;
}

body>div {
    width: 60%;
    min-width: 800px;
    margin: auto;
}
ul{
    
    display: flex;
    list-style: none;
    color: lightgray;
    width: auto;
    margin: 0;
    padding-left: 10px;
}
nav{
    width: 100%;
    background-image: linear-gradient(lightblue, #114f69);
    border-radius: 10px 10px 0px 0px;
}

nav> ul li {
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 1em;
    display: list-item;
    font-weight: bold;

}
nav>ul li:hover{
    transition: 2s;
    background-color: #114f69;

}
li{
    display: contents;
}
main{
    position: relative;

}
main img {
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}
img.arrow{
    width: 10%;
}
main #left{
    position: absolute;
    top: 40%;
    left: -5%;
}
main #right{
    transform: rotate(180deg);
    position: absolute;
    top: 40%;
    left: 95%;
}
button{
    color: white;
    font: italic 600 1.5em verdana, sans-serif;
    background-image: radial-gradient(elipsis #114f69 75%,lightblue);
    border-radius: 5px;
    border: 1px solid lightblue;
    padding: 10px;
}

h1 {
    width: 70%;
    margin: 0;
    font: italic bold 72px monospace;
    background: -webkit-linear-gradient(lightblue, #114f69);
    -webkit-background-clip: text;
    background-clip: none ;
    -webkit-text-fill-color: transparent;

}
div>div{
    margin: 0;
    column-gap: 0px;
    justify-content: space-around;
    display: flex;
    margin: 0;
}

input {
    height: fit-content;
    align-self: center;
    width: 30%;
    padding: 15px;
    background-color: rgb(196, 230, 246);
    font: italic bold;
    border-radius: 10px;
    
}

input::placeholder{
    font: italic 16px/30px Arial, serif;
}

main {
    margin-top: 20px;
    width: 100%;
}

main+p{
    display: inline-block;
    color: white;
    font: italic 300 1.2em georgia;
}

h3{
    display: inline-block;
    font-size: 2rem;
    margin: 0;
}

article>*{
    padding: 10px;
}

article div{
    background-color: teal;
    border-radius: 10px 10px 0px 0px;
}

article img{
    height: 2rem;
}

article p{
    background-color: grey;
    border-radius: 0px 0px 10px 10px;
    margin: 0%;
}

article+article{
    margin-left: 0.5%;
}