body{
    background-color: #0b3442;
}
body div{
    width: 80%;
    margin: auto;
}
ul{
    background-image: linear-gradient(lightblue, #114f69);
    display: flex;
    list-style: none;
    color: lightgray;
    width:auto;
    margin: 0;
    padding-left: 10px;
}
li{
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 150%;

}

img{
    width: -webkit-fill-available;
}
h1{
    width: 100%;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 350%;
    font-weight: 600;
    color: linear-gradient(lightblue, #114f69);

}
div>div{
    display: flex;
    margin: 0;
}
input{
    height: fit-content;
    align-self: center;

}
main{
    margin-top: 20px;
}