<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="estilo.css" rel="stylesheet">
</head>

<body>
    <div>
        <ul>
            <li><h1>Grafpedia</h1></li>
            <li><input type="text" name="buscador" placeholder="Type and hit enter to search"></li>
        </ul>
        <main>
            <nav>
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Services</li>
                    <li>Products</li>
                    <li>Blog</li>
                    <li>Contact</li>
                </ul>
            </nav>
            <img src="src/navimg.png" alt="Imagen con servicios">
        </main>
        <p>Get lots of vectors, icons, web layouts, brushes, textures and gradients >></p>
        <button>Apply for a VIP account</button>

    </div>

</body>

</html>