<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="estilo.css" rel="stylesheet">
</head>

<body>
    <div>
        <div>
            <h1>Grafpedia</h1>
            <input type="text" name="buscador" value="Type and hit enter to search">
        </div>
        <main>
            <nav>
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Services</li>
                    <li>Products</li>
                    <li>Blog</li>
                    <li>Contact</li>
                </ul>
            </nav>
            <img src="src/navimg.png" alt="Imagen con servicios">
        </main>

    </div>

</body>

</html>