.red{
    background-color:rgb(131, 0, 0);
    text-align: start;
}
.yellow{
    background-color: rgb(255, 241, 110);
}
.black{
    background-color: rgb(36, 36, 36);
}
.blue{
    background-color: blue;
    color: white;
    text-align: end;
}
.green{
    background-color: rgb(17, 163, 90);
}
.red, .blue, .green, .azul2, .black, .yellow{
    height:100px;
}



.azul{
    background-color: rgb(183, 211, 253);
}

.azul2{
    background-color: rgb(104, 144, 204);
}

.prim  > div > div{
    height: 100px;
}

.seg > div > div{
    height: 150px;
}