.red{
    background-color:green;
    text-align: start;
}
.blue{
    background-color: blue;
    color: white;
    text-align: end;
}
.green{
    background-color: yellow;
}
.red, .blue, .green, .azul2{
    height:100px;
}

.row{
    height: 200px;
}

.azul{
    background-color: rgb(183, 211, 253);
}

.azul2{
    background-color: rgb(104, 144, 204);
}