<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="content">
    <div class="header">
      <h1>Richard Carpenter</h1>
      <p>Photography</p>
      <div class="social">
        <p>My Social Network</p>
        <img src="" alt=""><img src="" alt=""><img src="" alt="">
      </div>
    </div>
    <div class="main">
      <div class="banner">
        <h2>SPECIALIST IN AWESOME <span>PHOTOGRAPHY</span></h2>
        <h3>LET ME CAPTURE YOUR MOMENTS</h3>
        <img id="cam" src="src/cam.png" alt="">
        <img id="photo" src="" alt="">
      </div>
      <div class="gallery">
        <div class="g-title">
          <h2><span>RECENT</span>PHOTOS</h2>
          <a href="#">PORTFOLIO</a>
        </div>
      </div>
      <img src="src/1.jpeg" alt="">
      <img src="src/2.jpeg" alt="">
      <img src="src/3.jpeg" alt="">
      <img src="src/4.jpeg" alt="">

    </div>
    <div class="footer">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. In tempora minima veniam quod, necessitatibus at maiores nostrum quisquam odio. Temporibus ut veritatis sapiente, aperiam, eveniet ad accusantium omnis mollitia saepe voluptas nihil delectus, aut consequatur laborum nulla cum?</p>
    </div>
  </div>
</body>

</html>