<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
  <!-- Para el símbolo para mostrar el menú -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!--Para la fuente del H1-->>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap" rel="stylesheet">
  <!-- Para demas fuentes -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap" rel="stylesheet">
</head>

<body>
  <div class="content">
    <div class="header">
      <div class="title">
        <h1>Richard Carpenter</h1>
        <p>Photography</p>
      </div>
      <div class="social">
        <p>My Social Network</p>
        <div class="icon"><i class="fa fa-bars"></i></div>
        <div class="social-ico">
          <img src="src/twitter.png" alt="twitter">
          <img src="src/facebook.png" alt="facebook">
          <img src="src/flickr.png" alt="flickr">
        </div>
      </div>
    </div>
    <div class="main">
      <div class="banner">
        <div class="b-title">
          <h2>SPECIALIST IN AWESOME</h2><span>PHOTOGRAPHY.</span>
          <h3>LET ME CAPTURE YOUR MOMENTS</h3>
        </div>
        <picture>
          <source media="(min-width: 577px)" srcset="src/cambig.png">
          <img id="cam" src="src/cam.png" alt="Camera DSLR">
        </picture>
      </div>
      <div class="gallery">
        <div class="g-title">
          <h2><span>RECENT</span><br>PHOTOS</h2>
          <a href="#">PORTFOLIO</a>
        </div>
        <img src="src/1.jpeg" alt="">
        <img src="src/2.jpeg" alt="">
        <img src="src/3.jpeg" alt="">
        <img src="src/4.jpeg" alt="">
      </div>

    </div>
    <div class="footer">
      <p>Lorem ipsum dolor, tempora minima veniam quod, necessitatibus at maiores nostrum quisquam odio.<span> Temporibus ut veritatis sapiente, aperiam, eveniet</span> ad accusantium omnis mollitia delectus, aut consequatur laborum nulla cum?</p>
    </div>
  </div>
  <script>
    $(function () {
      //Captura del evento para mostrar u ocultar
      $(".icon").click(function () {
        $(".social-ico").toggle();
      });
      $(window).resize(function () {
        var anchura = $(this).width();
        if (anchura > 576) {
          $(".social-ico").show();
        }
      });
    });
  </script>
</body>

</html>